@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color-scheme: dark;
}

html,
body,
#__next {
	height: 100%;
}

body {
	margin: 0;
}
